@import url('https://fonts.googleapis.com/css?family=Roboto');


.ratingsComments {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 248, 247);
}

.ratingsComments section {
    background-color: white;
    padding: 20px;
box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
    border-radius: 0.625em 0.625em 0.625em 0.625em;
    margin-bottom: 1em;
}

.ratingsComments section:last-of-type {
    background-color: white;
    padding: 20px;
    box-shadow: none;
    border-radius: 0.625em 0.625em 0.625em 0.625em;
    margin-bottom: 1em;
}


.ratingsComments section div .star {
    font-size: 1.5em;
}

.ratingsComments section div {
    display: flex;
    justify-content: space-between;
}

.ratingsComments section:first-of-type h2 {
    font-size: 2.2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.ratingsComments section:last-of-type h2 {
    font-size: 2.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ratingsComments section h3 {
    font-size: 4em;
    margin: 0;
}

.ratingsComments section p {
    margin-left: 1.4em;
    margin-top: 0em;
}

.ratingsComments section div p {
    width: 5em;
    margin-right: 2.8em;
    margin-left: 0.8em;
    margin-top: 0.3em;
}

.ratingsComments section div span {
    margin-left: 0.3em;
}

.yeet:hover {
    color: #FCD902;
}

.yote:hover {
    color: #FCD902;
}

.starliked {
    color: #FCD902;
    font-size: 25px;
}

.star {
    color: black;
    font-size: 25px;
}

.starError {
    font-size: 25px;
}

.ratingsComments section img {
    width: 70%;

}

.ratingsComments div:last-of-type img {
    box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
    border-radius: 0.625em 0.625em 0.625em 0.625em;
    display: none;
}

.ratingsComments section div:last-of-type {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10em;
    margin-left: 5em;
    display: block;
}

.ratingsComments section form textarea {
    width: 75vw;
    margin: auto;
    padding: 1em;
    height: 35vw;
    margin-bottom: 1em;
    line-height: 1.4;
    box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
    border-radius: 0.625em 0.625em 0.625em 0.625em;
    font-size: 1.2em;
    text-align: left;
}

#counter {
    font-size: 1em;
    margin-bottom: 0.5em;

}

button {
    width: 10em;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border: 1px solid #e7772b;
    border-radius: 0.5em;
    color: white;
    background-color: #e7772b;
    font-size: 1em;
    font-weight: 600;
    margin: auto;
    box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
    border-radius: 0.625em 0.625em 0.625em 0.625em;
}

.ratingsComments section article h4 {
    margin: 0em 0.5em 0.5em 0em;
}

.ratingsComments section article h5 {
    margin: 0em 0em 0em 2em;
    color: #e7772b;
}

.ratingsComments section article:first-of-type {
    background-color: white;
    border-left: 1em solid #e7772b;
    padding: 1em 1em 1em 0.5em;
    box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
    border-radius: 0.625em 0.625em 0.625em 0.625em;
    margin-bottom: 1em;
}

.hide{
    display: none;
}


.show{
    display: block;
}

.ratingsComments section article {
    background-color: white;
    padding: 1em 1em 1em 1.5em;
    box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
    border-radius: 0.625em 0.625em 0.625em 0.625em;
    margin-bottom: 1em;
}

.ratingsComments section article div span {
    color: #FCD902;
}

.ratingsComments section article p:first-of-type {
    color: gray;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    position: absolute;
}

.ratingsComments section article p:last-of-type {
    color: black;
    margin: 2em 0em 0.5em 0em;
    line-height: 1.5;
}

.ratingsComments section article div:last-of-type {
    display: flex;
    ;
    position: inherit;
    margin-left: 0em;
    flex-direction: row;
    justify-content: flex-start;
}
