    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    body header {
        background-color: rgb(102, 91, 82);
        width: 100vw;
        height: 3.1em;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
    }

    body header a {
        align-self: center;
    }

    body header a img {
        height: 1.8em;
        margin-left: 0.8em;
        align-self: center;
    }

    body header h1 {
        color: white;
        font-size: 1em;
        flex-grow: <2>;
        text-align: center;
        align-self: center;
    }

    body header form input {
        width: 30vw;
        max-width: 45vw;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        border: 0.5px solid white;
        border-radius: 0.3em;
        font-size: 0.8rem;
        background: transparent;
        background-size: 1rem;
        background-position: 0.6em 0.6em;
        background-repeat: no-repeat;
        padding: 0.625em 1.25em 0.625em 2.5em;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        margin-top: 0.375em;
        background-image: url('..//images/search-solid-white.svg');
    }

    body header form input:focus {
        width: 50vw;
        color: white;
        text-decoration: underline
    }

    .mijnuov {
        text-decoration: none;
        color: white;
        flex-grow: <0>;
        align-self: center;
        font-size: 1.5rem;
        margin-right: 0.625em;
    }



    /*Eric Lucassen Verhaal*/

    .eric p {
        font-family: Verdana;
        line-height: 1.6;
        color: grey;
        font-size: 1em;
        margin: 2em 2em;
    }

    .eric div {

        background-color: red;

        width: 100vw;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;

    }

    .first-background {
        height: 100vh;
        background-image: url("../images/first-mobile.svg");
    }

    .second-background {
        height: 100vh;
        background-image: url("../images/second-mobile.svg");
    }

    .storyImage1,
    .storyImage2,
    .storyImage3,
    .storyImage4,
    .storyImage5,
    .storyImage6,
    .storyImage7,
    .storyImage8,
    .storyImage9,
    .storyImage10 {
        height: 75vh;
    }


    .storyImage1 {
        background-image: url("../images/1-mobile.svg");
    }

    .storyImage2 {
        background-image: url("../images/2-mobile.svg");
    }

    .storyImage3 {
        background-image: url("../images/3-mobile.svg");
    }

    .storyImage4 {
        background-image: url("../images/4-mobile.svg");
    }

    .storyImage5 {
        background-image: url("../images/5-mobile.svg");
    }

    .storyImage6 {
        background-image: url("../images/6-mobile.svg");
    }

    .storyImage7 {
        background-image: url("../images/7-mobile.svg");
    }

    .storyImage8 {
        background-image: url("../images/8-mobile.svg");
    }

    .storyImage9 {
        background-image: url("../images/9-mobile.svg");
    }

    .storyImage10 {
        background-image: url("../images/10-mobile.svg");
    }




    /* Comments */
    footer {
        margin-top: 2em;
    }


    /* Scroll Bar

       Bron:https://www.cssscript.com/tiny-reading-progress-indicator-pure-javascript-rpbar-js/
    */


    #rp-bar {
        width: 100%;
        top: 3em;
        right: 0;
        position: fixed;
        -webkit-box-shadow: 0 0 0px 4px black;
        -moz-box-shadow: 0 0 0px 4px black;
        box-shadow: 0 0 0px 4px black;
    }

    #rp-bar div {
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
    }

    #rp-read {
        background-color: red;
    }

    #rp-unread {
        background-color: black;
    }
