@import url('https://fonts.googleapis.com/css?family=Roboto');

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(102, 91, 82);
    display: flex;
    color: white;
    justify-content: flex-start;
}

header a {
    text-decoration: none;
    color: white;
    align-self: center;
}

header a img{
    height: 5vw;
    width: 10vw;
}

header form{
    align-self: center;
}

body{
    background-color: rgb(248, 248, 247, 0.8);
}
h1 {
    flex: 1 100%;
    text-align: center;
    font-size: 3rem;
    align-self: center;
    font-weight: bold;
}
h2{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
}

h3{
    font-size: 1.6em;
    font-weight: bold;
    display: inline;
    margin-left: 10px;
}
h4{
    margin-top: 5px;
    font-size: 1em;
    font-weight: bold;
}
article p{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 1em
}

article h4{
    background-color: orange;
    border-radius: 10px;
    width:  40%;
    text-align: center;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
.likes{
    display: inline;
    position: absolute;
    right: 10px;
    top: 115px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.date{
    display: inline;
    position: absolute;
    right: 10px;
    top: 145px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
}

article{
    position: relative;
    margin: 1em;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 18px 0px rgba(136, 136, 136, 0.3);
}

article img{
    height: 105px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
article a{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin-bottom: 20px;
}

.row{
    justify-content: center;
    display: flex;
}

.item{
    flex-grow: <0>;
    align-self: center;
}

span{
    font-size: 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

