@media screen and (min-width: 0em) {

    /*      Header:     */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .block {
        align-self: center
    }

    body {
        background-color: rgb(247, 248, 247)
    }

    body header {
        background-color: rgb(102, 91, 82);
        width: 100vw;
        height: 3.1em;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
    }

    body header a img {
        height: 1.8em;
        margin-left: 0.8em;
        align-self: center;
    }

    body header h1 {
        color: white;
        font-size: 1em;
        flex-grow: <2>;
        text-align: center;
        align-self: center;
    }

    body header form input {
        width: 30vw;
        max-width: 45vw;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        border: 0.5px solid white;
        border-radius: 0.3em;
        font-size: 0.8rem;
        background: transparent;
        background-size: 1rem;
        background-position: 0.6em 0.6em;
        background-repeat: no-repeat;
        background-image: url('..//images/search-solid-white.svg');
        padding: 0.625em 1.25em 0.625em 2.5em;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        margin-top: 0.375em;

    }

    body header form input:focus {
        width: 50vw;
        color: white;
        text-decoration: underline
    }

    .mijnuov {
        text-decoration: none;
        color: white;
        flex-grow: <0>;
        align-self: center;
        font-size: 1.5rem;
        margin-right: 0.625em;
    }



    /*      Login:     */

    .inlogTitel {
        padding-top: 3.3em;
        padding-left: 5vw;
        display: block;
        width: 50vw;
        text-align: left;
        background-color: #fcd900;
        width: 100vw;
        height: 10.3em;
        position: relative;
    }

    .loginPage article:first-of-type {
        width: 90vw;
        position: relative;
        top: -7.6em;
        margin: auto;
        padding: 1em;
        background-color: white;
        border-radius: 1em 1em 0em 0em;
        box-shadow: 0 8px 18px 0 rgba(103, 92, 83, 0.3);

    }

    .loginPage article:last-of-type {
        background-color: #f7f4f1;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        border-top-left-radius: 0em;
        border-top-right-radius: 0em;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }

    .loginPage form {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
    }

    .loginPage article form input[type="submit"] {
        width: 8em;
        text-align: center;
        padding: 0;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        border: 1px solid #e7772b;
        border-radius: 0.5em;
        color: white;
        background-color: #e7772b;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 1em;

    }

    .loginPage input {
        width: 90%;
        box-sizing: border-box;
        border: 0;
        border-bottom: 1px solid #e7772b;
        border-radius: 0.25em 0em;
        font-size: 0.8rem;
        background: transparent;
        background-size: 1rem;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 10px 20px 10px 40px;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
        margin: 1em 1em 0em 0em;
    }


    .loginPage article form input[type="email"] {
        background-image: url("..//images/user-regular-black.png")
    }

    .loginPage article form input[type="password"] {
        background-image: url("..//images/Lock-Black.svg")
    }

    .loginPage input:focus {
        color: dimgrey;
        border-bottom: 3px solid #e7772b;
    }

    .loginPage input:valid {
        color: dimgrey;
        border-bottom: 3px solid lightgreen;
    }

    .loginPage label {
        margin: 1em 1em 0em 0em;
    }

    .loginPage article:first-of-type a {
        text-decoration: none;
        font-weight: 500;
        color: #54a5dd;
    }



    .loginPage article:last-of-type a {
        width: 8em;
        text-align: center;
        text-decoration: none;
        padding: 0;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        border: 1px solid #675c53;
        border-radius: 0.5em;
        color: white;
        background-color: #675c53;
        font-size: 1em;
        font-weight: 600;
        margin-top: 1em;
    }

    .loginPage article:last-of-type {
        width: 90vw;
        position: relative;
        top: -7.6em;
        margin: auto;
        padding: 1em;
        background-color: #f7f4f1;
        border-radius: 0em 0em 1em 1em;
        box-shadow: 0 8px 18px 0 rgba(103, 92, 83, 0.3);
    }

    .loginPage article:last-of-type ul {
        width: 80vw;
        margin: auto;
        padding: 1em 1em 1em 0em;
    }

    .loginPage article:last-of-type li {
        margin: auto;
        padding: 0.5em 0.5em 0.5em 2.5em;
        list-style-type: none;
        background: transparent;
        background-size: 1rem;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-image: url("..//images/Check-Green.svg");
    }
}

@media screen and (min-width: 45em) {


    /*      Login:     */

    .inlogTitel {
        padding-top: 4em;
        width: 100vw;
        height: 8.5em;
        font-size: 2.1em;
    }

    .loginPage article:first-of-type {
        width: 40.6em;
        top: -3em;
    }

    .loginPage article:last-of-type {
        width: 40.6em;
        top: -3em;

    }
}

@media screen and (min-width: 70em) {


    /*      Login:     */

    .inlogTitel {
        height: 10.3em;
    }

    .loginPage article:first-of-type {
        width: 25em;
        top: -7.6em;
        margin-right: 0;
        border-radius: 1em;
        z-index: 1;

    }

    .loginPage article:last-of-type {
        width: 20em;
        top: -7.6em;
        margin-left: 0;
        border-radius: 0em 1em 1em 0em;
        z-index: -0;
    }

    .loginPage {
        display: flex;
        justify-content: flex-start;

    }
}
