@media screen and (min-width: 0em) {
    /*Header*/

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    body header {
        background-color: rgb(102, 91, 82);
        width: 100vw;
        height: 3.1em;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
    }

    body header a img {
        height: 1.8em;
        margin-left: 0.8em;
        align-self: center;
    }

    body header h1 {
        color: white;
        font-size: 1em;
        flex-grow: <2>;
        text-align: center;
        align-self: center;
    }

    body header form input {
        width: 30vw;
        max-width: 45vw;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        border: 0.5px solid white;
        border-radius: 0.3em;
        font-size: 0.8rem;
        background: transparent;
        background-size: 1rem;
        background-position: 0.6em 0.6em;
        background-repeat: no-repeat;
        background-image: url('..//images/search-solid-white.svg');
        padding: 0.625em 1.25em 0.625em 2.5em;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        margin-top: 0.6em;

    }

    body header form input:focus {
        width: 50vw;
        color: white;
        text-decoration: underline
    }

    .mijnuov {
        text-decoration: none;
        color: white;
        flex-grow: <0>;
        align-self: center;
        font-size: 1.5rem;
        margin-right: 0.625em;
    }

    .block{
        align-self: center;
    }


    /* Scroll Bar

       Bron:https://www.cssscript.com/tiny-reading-progress-indicator-pure-javascript-rpbar-js/

       &

       https://codepen.io/AllThingsSmitty/pen/gvpNWL?editors=1010

    */
    .header {
        position: fixed;
        top: 3em;
        width: 100%;
        z-index: 1;
    }

    .progress-container {
        background-color: black;
        height: 15px;
        width: 100%;
    }

    .progress-bar {
        background-color: red;
        height: 10px;
        width: 0%;
    }





    html,
    body,
    main {
        width: 100%;
        height: 100%;
    }

    main,
    section {
        background-color: red;
    }

    body main p {
        font-family: Verdana;
        line-height: 1.7;
        color: lightgray;
        font-size: 1.1em;
        padding: 2em 2em;
        background-color: black;
        text-align: center;
    }

    /* FOOTER!*/


    .ratingsComments {
        font-family: 'Roboto', sans-serif;
        background-color: rgb(247, 248, 247);

        position: absolute;
        top: 800em;
    }

    .ratingsComments section {
        background-color: white;
        padding: 20px;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        margin-bottom: 1em;
    }

    .ratingsComments section:last-of-type {
        background-color: white;
        padding: 20px;
        box-shadow: none;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        margin-bottom: 1em;
    }


    .ratingsComments section div .star {
        font-size: 1.5em;
    }

    .ratingsComments section div {
        display: flex;
        justify-content: space-between;
    }

    .ratingsComments section:first-of-type h3 {
        font-size: 2.2em;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }

    .ratingsComments section:last-of-type h3 {
        font-size: 2.2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .ratingsComments section h4 {
        font-size: 4em;
        margin: 0;
    }

    .ratingsComments section p {
        margin-left: 1.4em;
        margin-top: 0em;
    }

    .ratingsComments section div p {
        width: 5em;
        margin-right: 2.8em;
        margin-left: 0.8em;
        margin-top: 0.3em;
    }

    .ratingsComments section div span {
        margin-left: 0.3em;
    }

    .yeet:hover {
        color: #FCD902;
    }

    .yote:hover {
        color: #FCD902;
    }

    .starliked {
        color: #FCD902;
        font-size: 25px;
    }

    .star {
        color: black;
        font-size: 25px;
    }

    .starError {
        font-size: 25px;
    }

    .ratingsComments section img {
        width: 70%;

    }

    .ratingsComments div:last-of-type img {
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        display: none;
    }

    .ratingsComments section div:last-of-type {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10em;
        margin-left: 5em;
        display: block;
    }

    .ratingsComments section form textarea {
        width: 89vw;
        margin: auto;
        padding: 1em;
        height: 35vw;
        margin-bottom: 1em;
        line-height: 1.4;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        font-size: 1.2em;
        text-align: left;
    }

    .ratingsComments section form input:first-of-type {
        font-size: 1em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        text-decoration: none;
        border: none;
        outline: none;
        background-color: white;
    }

    button {
        width: 10em;
        text-align: center;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        border: 1px solid #e7772b;
        border-radius: 0.5em;
        color: white;
        background-color: #e7772b;
        font-size: 1em;
        font-weight: 600;
        margin: auto;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        border-radius: 0.625em 0.625em 0.625em 0.625em;
    }

    .ratingsComments section article h5 {
        margin: 0em 0.5em 0.5em 0em;
        font-size: 1.1em;
    }

    .ratingsComments section article h6 {
        margin: 0.2em 0em 0em 4em;
        color: #e7772b;
        font-size: 0.8em;
    }

    .ratingsComments section article:first-of-type {
        background-color: white;
        border-left: 1em solid #e7772b;
        padding: 1em 1em 1em 0.5em;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        margin-bottom: 1em;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }



    .ratingsComments section article {
        background-color: white;
        padding: 1em 1em 1em 1em;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        margin-bottom: 1em;
    }

    .ratingsComments section article div span {
        color: #FCD902;
    }

    .ratingsComments section article p:first-of-type {
        color: gray;
        font-size: 0.9em;
        margin: 0;
        padding: 0;
        position: absolute;
    }

    .ratingsComments section article p:last-of-type {
        color: black;
        margin: 2em 0em 0.5em 0em;
        line-height: 1.5;
    }

    .ratingsComments section article div:last-of-type {
        display: flex;
        ;
        position: inherit;
        margin-left: 0em;
        flex-direction: row;
        justify-content: flex-start;
    }

    .rate{
        color: black;
    }

    .verwijder{
        background-color: red;
        color: white;
        width: auto;
        text-align: center;
        margin-right: 2.8em;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        border-radius: 0.625em 0.625em 0.625em 0.625em;
    }

    #reviewConf{
        display: block;
    }



    main section {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .bg-wrap {
        clip: rect(0, auto, auto, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .bg {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        transform: translateZ(0);
        will-change: transform;
        background-image: url('images/1-mobile.svg');
    }

    .overlay {
        position: fixed;
        right: 0;
        bottom: 30px;
        left: 0;
        padding: 0 15px;
        z-index: 10;
    }

    h2 {
        position: absolute;
        bottom: 0em;
        left: -2.4em;
        width: 6em;
        text-align: center;
    }



    .start-background {
        background-image: url("..//images/ApprehensiveHorribleHorsemouse-size_restricted.gif");
    }

    .first-background {
        background-image: url("https://x-track.github.io/dev/images/first-mobile.svg");
    }

    .second-background {
        background-image: url("https://x-track.github.io/dev/images/second-mobile.svg");
    }

    .thirth-background {
        background-image: url("https://x-track.github.io/dev/images/thirth-mobile.svg");
    }

    .storyImage1 {
        background-image: url("https://x-track.github.io/dev/images/1-mobile.svg");
    }

    .storyImage2 {
        background-image: url("https://x-track.github.io/dev/images/2-mobile.svg");
    }

    .storyImage3 {
        background-image: url("https://x-track.github.io/dev/images/3-mobile.svg");
    }

    .storyImage4 {
        background-image: url("https://x-track.github.io/dev/images/4-mobile.svg");
    }

    .storyImage5 {
        background-image: url("https://x-track.github.io/dev/images/5-mobile.svg");
    }

    .storyImage6 {
        background-image: url("https://x-track.github.io/dev/images/6-mobile.svg");
    }

    .storyImage7 {
        background-image: url("https://x-track.github.io/dev/images/7-mobile.svg");
    }

    .storyImage8 {
        background-image: url("https://x-track.github.io/dev/images/8-mobile.svg");
    }

    .storyImage9 {
        background-image: url("https://x-track.github.io/dev/images/9-mobile.svg");
    }

    .storyImage10 {
        background-image: url("https://x-track.github.io/dev/images/10-mobile.svg");
    }



    .container {
        position: relative;
        margin: 30em 10em 10em 10.5em;

    }

    .chevron {
        position: absolute;
        width: 28px;
        height: 8px;
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
        animation: move 3s ease-out infinite;
    }

    .chevron:first-child {
        animation: move 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: #000;
    }

    .chevron:before {
        left: 0;
        transform: skew(0deg, 30deg);
    }

    .chevron:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
    }

    @keyframes move {
        25% {
            opacity: 1;

        }

        33% {
            opacity: 1;
            transform: translateY(30px);
        }

        67% {
            opacity: 1;
            transform: translateY(40px);
        }

        100% {
            opacity: 0;
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
        }
    }


    @keyframes pulse {
        to {
            opacity: 1;
        }
    }

}

@media screen and (min-width: 45em) {

    .ratingsComments {
        top: 1100em;
        background-color: white;
    }

    .ratingsComments section {
        width: 40em;
        margin-left: 4em;
        margin-right: 4em;
        padding: 0em 1.5em 1.5em 1.5em;
        margin-bottom: 1em;
    }

    .ratingsComments section div {
        justify-content: flex-start;
    }

    .ratingsComments section h3:last-of-type {
        font-size: 2.2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .ratingsComments div:last-of-type img {
        margin: auto;
    }

    .ratingsComments section form input:first-of-type {
        background-color: white;
    }
        .ratingsComments section form textarea {
        width: 30.8em;
        margin: auto;
        padding: 1em;
        height: 35vw;
        margin-bottom: 1em;
        line-height: 1.4;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        font-size: 1.2em;
        text-align: left;
    }

    .ratingsComments section article h6 {
        margin: 0.2em 0em 0em 22em;
        color: #e7772b;
        font-size: 0.8em;
    }

    .container {
        position: relative;
        margin: 50em 10em 10em 23em;

    }

    body main p {
        font-family: Verdana;
        line-height: 1.9;
        color: lightgray;
        font-size: 1.3em;
        background-color: black;
        padding-left: 5em;
        padding-right: 5em;
        text-align: center;
    }

    .start-background {
        background-image: url("https://x-track.github.io/dev/images/start-tablet.svg");
    }

    .first-background {
        background-image: url("https://x-track.github.io/dev/images/first-tablet.svg");
    }

    .second-background {
        background-image: url("https://x-track.github.io/dev/images/second-tablet.svg");
    }

    .thirth-background {
        background-image: url("https://x-track.github.io/dev/images/thirth-tablet.svg");
    }

    .storyImage1 {
        background-image: url("https://x-track.github.io/dev/images/1-tablet.svg");
    }

    .storyImage2 {
        background-image: url("https://x-track.github.io/dev/images/2-tablet.svg");
    }

    .storyImage3 {
        background-image: url("https://x-track.github.io/dev/images/3-tablet.svg");
    }

    .storyImage4 {
        background-image: url("https://x-track.github.io/dev/images/4-tablet.svg");
    }

    .storyImage5 {
        background-image: url("https://x-track.github.io/dev/images/5-tablet.svg");
    }

    .storyImage6 {
        background-image: url("https://x-track.github.io/dev/images/6-tablet.svg");
    }

    .storyImage7 {
        background-image: url("https://x-track.github.io/dev/images/7-tablet.svg");
    }

    .storyImage8 {
        background-image: url("https://x-track.github.io/dev/images/8-tablet.svg");
    }

    .storyImage9 {
        background-image: url("https://x-track.github.io/dev/images/9-tablet.svg");
    }

    .storyImage10 {
        background-image: url("https://x-track.github.io/dev/images/10-tablet.svg");
    }
}

@media screen and (min-width: 70em) {


    .ratingsComments {
        font-family: 'Roboto', sans-serif;
        background-color: white;
        position: absolute;
        top: 1065em;
        margin-left: 28.5em;
        margin-right: 28.5em;
    }

    .ratingsComments section {
        background-color: white;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        margin-bottom: 1em;
    }

    .ratingsComments section div {
        justify-content: flex-start;
    }

    .ratingsComments section:first-of-type h3 {
        margin-bottom: 1em;
    }

    .ratingsComments section p {
        margin-left: 1.4em;
        margin-top: 0em;
    }

    .ratingsComments section div p {
        width: 8.8em;
        margin-right: 2.8em;
        margin-left: 0.8em;
        margin-top: 0.4em;
    }

    .ratingsComments section div span {
        margin-left: 0.3em;
    }

    .ratingsComments section img {
        width: 70%;

    }

    .ratingsComments div:last-of-type img {
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        display: none;
    }

    .ratingsComments section div:last-of-type {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10em;
        margin-left: 5em;
        display: block;
    }

    .ratingsComments section form textarea {
        width: 31em;
        height: 10em;
    }

    .ratingsComments section article h6 {
        margin: 0.2em 0em 0em 22em;

    }




    .container {
        position: relative;
        margin: 40em 10em 10em 52em;

    }

    body main p {
        font-family: Verdana;
        line-height: 1.9;
        color: lightgray;
        font-size: 1.3em;
        background-color: black;
        padding-left: 16em;
        padding-right: 16em;
        text-align: center;
    }

    .start-background {
        background-image: url("https://x-track.github.io/dev/images/start-desktop.svg");
    }

    .first-background {
        background-image: url("https://x-track.github.io/dev/images/first-desktop.svg");
    }

    .second-background {
        background-image: url("https://x-track.github.io/dev/images/second-desktop.svg");
    }

    .thirth-background {
        background-image: url("https://x-track.github.io/dev/images/thirth-desktop.svg");
    }

    .storyImage1 {
        background-image: url("https://x-track.github.io/dev/images/1-desktop.svg");
    }

    .storyImage2 {
        background-image: url("https://x-track.github.io/dev/images/2-desktop.svg");
    }

    .storyImage3 {
        background-image: url("https://x-track.github.io/dev/images/3-desktop.svg");
    }

    .storyImage4 {
        background-image: url("https://x-track.github.io/dev/images/4-desktop.svg");
    }

    .storyImage5 {
        background-image: url("https://x-track.github.io/dev/images/5-desktop.svg");
    }

    .storyImage6 {
        background-image: url("https://x-track.github.io/dev/images/6-desktop.svg");
    }

    .storyImage7 {
        background-image: url("https://x-track.github.io/dev/images/7-desktop.svg");
    }

    .storyImage8 {
        background-image: url("https://x-track.github.io/dev/images/8-desktop.svg");
    }

    .storyImage9 {
        background-image: url("https://x-track.github.io/dev/images/9-desktop.svg");
    }

    .storyImage10 {
        background-image: url("https://x-track.github.io/dev/images/10-desktop.svg");
    }

}
