@import url('https://fonts.googleapis.com/css?family=Roboto');

@media screen and (min-width: 0em) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    main section form fieldset legend {
        margin-bottom: 0.5em;
        padding-top: 0.7em;
        padding-left: 0.7em;
    }

    .block {
        align-self: center
    }

    body {
        background-color: rgb(247, 248, 247)
    }

    body header {
        background-color: rgb(102, 91, 82);
        width: 100vw;
        height: 3.1em;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
    }

    body header a img {
        height: 1.8em;
        margin-left: 0.8em;
        align-self: center;
    }

    body header h1 {
        color: white;
        font-size: 1em;
        flex-grow: <2>;
        text-align: center;
        align-self: center;
    }

    body header form input {
        width: 30vw;
        max-width: 45vw;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        border: 0.5px solid white;
        border-radius: 0.3em;
        font-size: 0.8rem;
        background: transparent;
        background-size: 1rem;
        background-position: 0.6em 0.6em;
        background-repeat: no-repeat;
        background-image: url('..//images/search-solid-white.svg');
        padding: 0.625em 1.25em 0.625em 2.5em;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        margin-top: 0.6em;

    }

    body header form input:focus {
        width: 50vw;
        color: white;
        text-decoration: underline
    }

    .mijnuov {
        text-decoration: none;
        color: white;
        flex-grow: <0>;
        align-self: center;
        font-size: 1.5rem;
        margin-right: 0.625em;
    }

    main section h2 {
        text-align: center;
        margin: 1em 0em 1em 0em;
    }

    main section form fieldset select {
        width: 16em;
        text-align: center;
        padding: 0;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        color: black;
        background-color: white;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 1em;
        margin-left: 0.9em;
    }

    main section form input[type="submit"] {
        width: 16em;
        text-align: center;
        padding: 0;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        border: 1px solid #e7772b;
        border-radius: 0.5em;
        color: white;
        background-color: #e7772b;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 1em;
        margin-left: 0.9em;
    }

    .subhead {
        padding-top: 3.2em;
        font-size: 1.3em;
        text-align: center;
        margin: auto;
        background-color: rgb(252, 217, 0);
    }

    #filtersShowBtn {
        width: 90vw;
        height: 2.81em;
        background-color: white;
        border-radius: 0em 0.625em 0.625em 0em;
        border: 0px;
        box-shadow: 0em 0.5em 1.125em 0em rgba(136, 136, 136, 0.3);
        text-align: left;
        padding-left: 1em;
        font-weight: 700;
        font-size: 1.1rem;
        background: white;
        background-size: 1rem;
        background-position: 80vw;
        background-repeat: no-repeat;
        background-image: url('..//images/search-solid-black.svg');
        margin-top: 1.1em;
        z-index: 20;
    }

    #verrasMe {
        width: 90vw;
        height: 2.81em;
        background-color: white;
        border-radius: 0em 0.625em 0.625em 0em;
        border: 0px;
        box-shadow: 0em 0.5em 1.125em 0em rgba(136, 136, 136, 0.3);
        text-align: left;
        padding-left: 1em;
        font-weight: 400;
        font-size: 1.1rem;
        background: white;
        background-size: 1rem;
        background-position: 80vw;
        background-repeat: no-repeat;
        background-image: url('..//images/random-solid.svg');
        margin-top: 1em;
        z-index: 20;
    }

    #filters {
        height: 100%;
        width: 100vw;
        background-color: rgb(252, 217, 0);
    }

    body main div {
        background-color: rgb(252, 217, 0);
        padding-bottom: 1.5em;
    }

    main section form {
        width: 90vw;
    }

    main section form fieldset {
        border: none;
    }

    main section form fieldset label {
        padding: 0.625em;
        margin-bottom: 0.2em;
        background-color: white;
        border-radius: 0em 0.625em 0.625em 0em;
        border: 0px;
        box-shadow: 0em 0.5em 1.125em 0em rgba(136, 136, 136, 0.3);
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        padding: 0.9em;
    }

    main section form fieldset label::after {
        content: "";
        width: 2em;
        height: 2em;
        background-color: white;
        border-style: solid;
        border-color: #e7772b;
        border-width: 2px;
        margin: 0em 0em 0em 1em;
        display: inline-block;
        border-radius: 5px;
        position: absolute;
        right: 1.25em;
        top: 50%;
        transform: translateY(-50%);
    }

    main section form fieldset [type=checkbox]:checked + label::after {
        background-color: #e7772b;
    }

    main section form fieldset [type=radio]:checked + label::after {
        background-color: #e7772b;
    }

    main section form fieldset input {
        display: none;
    }

    legend {
        font-weight: 600;
        font-size: 1.3rem;
    }

    body main section article {
        padding: 0em 1em 0em 1em;
        height: 18.75em;
        margin-bottom: 1em;
    }

    main section article img {
        width: 85vw;
        height: 17em;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        border: 0px;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        z-index: 1;
        position: absolute;
    }

    main section article div {
        background-color: white;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        width: 18em;
        height: 7.5em;
        position: relative;
        margin-left: auto;
        z-index: 10;
        top: 8.5em;
    }

    main section article div h3 {
        font-size: 1rem;
        font-weight: 700;
        color: #000;
        padding: 1em 0em 0em 1.25em;
    }

    .score {
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        margin: 0em 0em 0em 0em;
        padding: 0.5em;
        box-shadow: 0em 0.5em 1em 0em rgba(136, 136, 136, 0.3);
        color: #e7772b;
        background-color: white;
        position: absolute;
        right: 0.0em;
        top: -8.8em;
    }

    main section article div h4 {
        font-size: 1.0rem;
        font-weight: 300;
        background-color: #e7772b;
        border-radius: 0.625em;
        width: 40%;
        text-align: center;
        margin: 0em 0em 0em 0em;
        padding-top: 2px;
        padding-bottom: 2px;
        color: white;
        position: absolute;
        bottom: 1em;
        left: 1.25em;
    }

    body main section article div span {
        font-size: 2em;
        font-weight: 300;
        margin: 0em -0.5em -0.5em 0em;
        position: absolute;
        right: 1.25em;
        bottom: 1em;
        color: lightgray;
    }

    .liked {
        color: rgb(252, 217, 0);
    }
    .notLiked {
        color: rgb(252, 217, 0);
    }

    body main section div article div a p {
        display: none;
    }

    .flex {
        background-color: transparent;
    }

    .show{
        display: block;
    }

    .hide{
        display: none;
    }
}


@media screen and (min-width: 32em) {

    #filtersShowBtn {
        width: 40vw;
        margin-top: 1.5em;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        text-align: center;
        padding-left: 0em;
        background: white;
        background-size: 1rem;
        background-position: 35vw;
        background-repeat: no-repeat;
        background-image: url('..//images/search-solid-black.svg');
    }

    #verrasMe {
        width: 40vw;
        margin-top: 1.5em;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        text-align: center;
        padding-left: 0em;
        background: white;
        background-size: 1rem;
        background-position: 35vw;
        background-repeat: no-repeat;
        background-image: url('..//images/random-solid.svg');
    }

    #filters {
        padding-top: 1em;

    }

    .subhead {
        padding-top: 4em;
        font-size: 1.3em;
        text-align: center;
        margin: auto;
        background-color: rgb(252, 217, 0);
    }

    main section form {
        margin: auto;
        width: 70vw;
    }

    main section form fieldset label {
        background-color: white;
        flex-direction: row;
        width: 70vw;
        margin: 1em 0em 1em 0em;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
    }

    body main div {
        display: flex;
        justify-content: space-around;
    }

    .flex {
        display: flex;
        flex-flow: column wrap;
    }

    body main section article {
        height: 12em;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    main section article a img {
        width: 35vw;
        height: 11em;
        margin-left: auto;
        z-index: 10;
    }

    main section article div {

        width: 85vw;
        height: 11em;
        margin-right: inherit;
        z-index: 1;
        top: 0px;
    }

    main section article div h3 {
        position: absolute;
        padding-right: 2em;
        left: 35vw;
        top 1em;
    }

    main section article div h4 {
        width: 7.8em;
        position: absolute;
        height: 1.5em;
        left: 35vw;
        z-index: 90;
        margin: 0em 0em 0em 1em;
    }

    body main section article div span {
        right: 1em;
        margin: 0em -0.5em -0.5em 0em;
    }

    .score {
        font-size: 1.0rem;
        margin: 0em 0em 0em 1em;
        right: auto;
        left: 35vw;
        top: 5.5em;
    }
}


@media screen and (min-width: 52em) {

    #filtersShowBtn {
        width: 40vw;
        margin-top: 2em;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        text-align: center;
        padding-left: 0em;
        background: white;
        background-size: 1rem;
        background-position: 35vw;
        background-repeat: no-repeat;
        background-image: url('..//images/search-solid-black.svg');
    }

    #verrasMe {
        width: 40vw;
        margin-top: 2em;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        text-align: center;
        padding-left: 0em;
        background: white;
        background-size: 1rem;
        background-position: 35vw;
        background-repeat: no-repeat;
        background-image: url('..//images/random-solid.svg');
    }

    #filters {
        padding-top: 1em;
        height: 100%;

    }

    .subhead {
        padding-top: 4em;
        font-size: 1.3em;
        text-align: center;
        margin: auto;
        background-color: rgb(252, 217, 0);
    }

    main section form fieldset select {
        width: 100%;
        text-align: center;
        padding: 0;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
        color: black;
        background-color: white;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 1em;
    }

    main section form {
        width: 90vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: auto;

    }

    main section form fieldset label {
        background-color: white;
        flex-direction: row;
        width: 28vw;
        margin: 1em 0em 1em 0em;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
    }

    .flex {
        margin: auto;
    }

    body main section article {
        height: 12em;
        width: 47em;
        margin-left: auto;
        margin-right: auto;
    }

    main section article a img {
        width: 18em;
        height: 11em;
        z-index: 10;
    }

    body main section div article div a p {
        left: 16.3em;
    }

    main section article div h3 {
        left: 18em;
    }

    .score {
        left: 18em;
    }

    main section article div {
        width: 45em;
    }

    .score {
        font-size: 1.0rem;
        margin: 0em 0em 0em -0.2em;
        right: auto;
        left: auto;
        top: 5.5em;
    }

    main section article div h4 {
        width: 7.8em;
        position: absolute;
        height: 1.5em;
        left: auto;
        z-index: 90;
        margin: 0em 0em 0em 1em;
    }
}


@media screen and (min-width: 70em) {

    body main div {
        display: flex;
        justify-content: space-around;
    }

    .flex {
        display: flex;
        flex-flow: wrap;
    }

    #filters {
        padding-top: 1em;
        height: 35vh;

    }

    main section form input[type="submit"] {
        width: 16em;

    }

    main section form fieldset select {
        width: 94%;

    }

    #verrasMe {
        width: 40vw;
        margin-top: 2em;
    }

    #filtersShowBtn {
        margin-top: 2em;
    }

    .subhead {
        padding-top: 4em;
        font-size: 1.3em;
        text-align: center;
        margin: auto;
        background-color: rgb(252, 217, 0);
    }

    main section form {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        margin: auto;

    }

    main section form fieldset label {
        background-color: white;
        flex-direction: row;
        width: 16em;
        margin: 1em 0em 1em 0em;
        border-radius: 0.625em 0.625em 0.625em 0.625em;
    }

    body main section article {
        height: 26em;
        width: 20.5em;
        margin: 1em;
    }

    main section article a img {
        width: 20em;
        height: 11em;
        z-index: 10;
    }

    main section article div {
        width: 20em;
        margin: 0;
        height: 23em;
        z-index: 1;
        top: 0px;
    }

    main section article div h3 {
        position: absolute;
        font-size: 1.2em;
        left: 1em;
        bottom: 5.5em;
        width: 15em;
        display: flex;
        align-items: center;
        height: 4em;
        margin: 0;
        padding: 0;

    }

    main section article div h4 {
        padding: 0em;
        position: absolute;
        height: 1.5em;
        top: auto;
        bottom: 1em;
        left: 1em;
        z-index: 90;
        margin: 0em 0em 0em 0em;
    }

    .score {
        position: absolute;
        top: auto;
        bottom: 3.4em;
        right: auto;
        left: 1.2em;
        width:

    }

    .likes {
        right: 1em;
        top: 9.2em;
    }

    body main section article div span {
        right: 1em;
        margin: 0em -0.5em -0.5em 0em;
    }

    body main section article div a p:last-of-type {
        width: 12em;
        margin: 0em;
        left: 1em;
        position: absolute;
    }

}


@media screen and (min-width: 80em) {

    .second-main {
        margin-left: 23em;
        margin-right: auto;
        margin-top: -3.6em;
        width: 70vw;
    }

    .buttons {
        justify-content: flex-start;
    }

    #filtersShowBtn {
        display: none;
    }

    .flex {
        margin-top: 3.9em;
        display: flex;
        justify-content: space-around;

    }

    #verrasMe {
        text-align: left;
        width: 15em;
        margin-top: 4em;
        border-radius: 0em 0.625em 0.625em 0em;
        text-align: center;
        position: absolute;
        left: 0em;
        top: 1.1em;
        background-position: 13em;

    }

    #filters {

        width: 16em;
        height: 90vh;
        background-color: transparent;
        position: absolute;
    }

    main section form {
        width: 90vw;
        display: flex;
        flex-flow: column;
    }

    main section form fieldset legend {
        padding-left: 0.7em;
    }

    main section form fieldset {
        width: 16em;
        margin-top: 1.5em;
    }

    main section form fieldset:first-of-type {
        width: 16em;
        margin-top: 0em;
        padding-top: 0.9em;
    }

    main section form fieldset {
        width: 16em;
        margin-top: 1.5em;
    }

    main section form fieldset select {
        margin-left: 1em;
    }

    main section form fieldset label {
        background-color: white;
        flex-direction: row;
        margin: 0.5em 0.5em 0.5em 0em;
        width: 16em;
        border-radius: 0em 0.625em 0.625em 0em;
    }

    body main div{
        padding-bottom: 5em;
    }

    .head {
        text-align: center;
        color: #000;
        font-size: 2em;
        margin-bottom: 1.1em;
        margin-top: -2.1em;
        font-weight: bolder;

    }

    .subhead{
        padding-left: 10em;

    }

    main section article a img {
        width: 20em;
        height: 11em;
        z-index: 10;
        margin: auto;
    }

    body main section article {
        height: 26em;
        width: 20.5em;
        margin: 2em 2em 2em 2em;
    }

    main section form input[type="submit"] {
        width: 15em;

    }

    main section form fieldset select {
        width: 94%;

    }

      .hide{
        display: block;
    }

}
